/* responsive.css  */

@media(max-width: 768px)
{
    
    .off_canvas{
        display: block !important;
        float: right !important;
        position: relative;
        right: -90%;
        top: -13px;
    }
    .nav_items{display: none !important;}
    .logo{
        position: relative;
        top: 18px;
    }
    .social_media{
        display: flex;
        justify-content: space-evenly;
        margin: 25px 0px;
    }
}