/* responsive.css  */

@media(max-width: 768px)
{
    
    .off_canvas{
        display: block !important;
        float: right !important;
        position: relative;
        right: -90%;
        top: -13px;
    }
    .nav_items{display: none !important;}
    .logo{
        position: relative;
        top: 27px;
    }
    .navbar{padding: 0px 0px}
    .social_media{
        display: flex;
        justify-content: space-evenly;
        margin: 25px 0px;
    }
    .seo_consultency,.page_rangking{margin-top: 0 !important;}
    .service_box_3{border-top: none !important;}
    .common_title_style{width: 100%;}
}



@media(max-width: 992px)
{
    .nav_items{display: none !important;}
    .off_canvas{
        display: block !important;
        float: right !important;
        position: relative;
        right: -90%;
        top: -15px;
    }
    .logo{
        position: relative;
        top: 27px
    }
    .common_title_style{width: 100%;}
    .navbar{padding: 0px 0px}
    .blog_card{margin-bottom:1.6rem}
}
@media(max-width: 500px)
{
    #offcanvasRight{width: 17rem;}
}